@tailwind base;
@tailwind components;
@tailwind utilities;

/* colors */
:root{ 
    /* green variants */
    --clr-primary-100: #003C3C;
    --clr-primary-200: #005555;
    --clr-primary-300: #008888;
    --clr-primary-400: #00C571;

    /* black */
    --text-clr-primary-100: #282C31;
    /* white */
    --text-clr-secondary-100: #F2F2F2;
    --text-clr-secondary-200: #F5F5F5;
    --text-clr-secondary-300: #FFFFFF;

    /* border radius */
    --br-radius-primary-100: 1rem;
    --br-radius-primary-125: 1.25rem;
    --br-radius-primary-150: 1.5rem;
    --br-radius-primary-175: 1.75rem;
    --br-radius-primary-200: 2rem;
}  

body{
    background-color: var(--clr-primary-200);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--text-clr-secondary-200);
}

.mobile-nav-toggle{
    display: block;
    position: fixed;
    top: 10;
    right: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
}

.mobile-nav-toggle .icon-close{
    display: none;
}

.primary-navigation[data-visible] {
    display: none;
  }

/* @media (max-width: 50em) {
    .primary-navigation{
        display: none;
    }

    .primary-navigation[data-visible]{
        display: block;
    }
} */

/* 
@layer components{
    .btn-header{
        @apply 
    }
} */