@tailwind base;
@tailwind components;
@tailwind utilities;

/* colors */
:root{ 
    /* green variants */
    --clr-primary-100: #003C3C;
    --clr-primary-200: #005555;
    --clr-primary-300: #008888;
    --clr-primary-400: #00C571;

    /* black */
    --text-clr-primary-100: #282C31;
    /* white */
    --text-clr-secondary-100: #F2F2F2;
    --text-clr-secondary-200: #F5F5F5;
    --text-clr-secondary-300: #FFFFFF;
    --text-clr-secondary-400: #B5B5B5;
    
    /* border radius */
    --br-radius-primary-100: 1rem;
    --br-radius-primary-125: 1.25rem;
    --br-radius-primary-150: 1.5rem;
    --br-radius-primary-175: 1.75rem;
    --br-radius-primary-200: 2rem;
}  

body{
    background-color: var(--clr-primary-200);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--text-clr-secondary-200);
    font-family: 'Poppins', sans-serif;

}

.mobile-nav-toggle .icon-close,
.mobile-nav-toggle[data-visible] .icon-hamburger{
    display: none;
    opacity: 0;
}

.mobile-nav-toggle[data-visible] .icon-close{
    display: block;
    opacity: 1;
}

.primary-header[data-overlay]::before{
    content: "";
    position: fixed;
    inset: 0em 0rem 0rem 0rem;
    /* inset: 0; */
    z-index: 3;
    background-image: linear-gradient(rgb(0 0 0 / 0.4), rgb(0 0 0 / 0.8));
}
/* 
.primary-header[data-overlay] *{
    z-index: 999;
    background-color: #003C3C;
} */

.primary-navigation[data-visible] {
    display: none;
  }

.hero-footer{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.52), rgba(0, 85, 85, 0.75)),
    url('img/hero-image.jpg' );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.image-filter-overlay{
    background-image: linear-gradient(to bottom, rgba(0, 101, 101, 0.35), rgba(0, 60, 60, 0.95));
}

.image-filter-overlay-second{
    background-image: linear-gradient(to bottom, rgba(0, 60, 60, 0.3) 50%, rgba(0, 136, 136, 1));

}

.image-filter-overlay-second::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s linear;
    opacity: 0;
    border-end-end-radius: 2rem;
    border-end-start-radius: 2rem;
    background-image: linear-gradient(to bottom,
     transparent 10%,
     rgba(0, 60, 60, 0.1) 15%,
     rgba(0, 136, 136, 0.7) 60%);
    }

.image-filter-overlay-second:active::before,
.image-filter-overlay-second:focus-visible::before,
.image-filter-overlay-second:focus-within::before,
.image-filter-overlay-second:hover::before{
    opacity: 1
}


@layer components{

    /* header */

    .primary-header{
        @apply border-b-2
         pb-1
          border-clr-primary-300
           transition-all;
    }
    
    /* top header */
    
    /* top header latest product */
    .top-header{
        @apply py-6 flex gap-4 flex-wrap md:grid md:grid-cols-2 lg:grid-cols-3 lg:grid-rows-2 lg:py-12;
    }
    
    /* topheader - banner with product search */
    .banner-product-search{
        @apply rounded-2xl w-full inline-block relative tracking-wider md:col-span-2 lg:col-start-2 lg:row-span-full;
    }
    
    /* topheader - about page */
    .info-box{
        @apply lg:col-span-1 lg:row-span-1;
    }

    .info-box__stats{
        @apply flex gap-8 py-2 flex-wrap;
    }

    .info-box__item{
        @apply border-r-2 border-l-2 border-clr-primary-300 px-3 w-fit text-right;
    }
    

    /* latest added product */
    .new-product__item{
        @apply flex flex-wrap rounded-2xl bg-clr-primary-200 mt-4 overflow-clip;
    }

    .new-product__item img{
        @apply rounded-2xl object-cover aspect-square sm:w-1/3 md:w-1/2 lg:w-1/3 lg:h-40;
    }

    .new-product__data{
        @apply sm:w-2/3 md:w-1/2 lg:w-2/3;
    }

    .new-product__data{
        @apply p-4;
    }

    .new-product__address,
    .new-product__date
    {
        @apply text-xs;
    }

    /* ContentCategories.js - styles */

    /* about us */
    .about-us{
        @apply flex flex-wrap sm:py-4;  
    }

    .about-us__item{
        @apply border-2
         border-clr-primary-300
          rounded-xl
          p-4
          w-full
          sm:w-1/3
          bg-text-clr-secondary-600
          xl:h-[350px]
          py-6
          ;
    }

    .about-us__title{
        @apply font-semibold text-xl my-1
    }

    .about-us > :nth-child(odd){
        @apply 
        sm:px-10
        lg:px-16
        ;
    }

    .about-us > :nth-child(even){
        @apply sm:scale-[1.2];
    }

    .about-us__icon{
        @apply border-2 border-clr-primary-300 rounded-full p-4 size-6 flex justify-center text-clr-primary-300 relative -top-11 bg-text-clr-secondary-600;
    }

    .about-us__desc{
        @apply py-6;
    }

    /* categories */
    .categories-item{
        @apply rounded-xl size-48 xs:size-44 lg:size-52 xl:size-64 2xl:size-72 relative image-filter-overlay-second; 
    }

    .categories-item img{
        @apply size-48 xs:size-44 lg:size-52 xl:size-64 2xl:size-72;
    }

    .categories-item__name{
        @apply text-text-clr-secondary-500 font-semibold mx-2 text-base text-clip sm:mx-0 sm:text-lg;
    }

    .categories-item__box{
        @apply absolute bottom-4 block sm:mx-4;
    }

    .categories-item__image{
        @apply relative -z-10 block  lg:h-full object-cover rounded-2xl -scale-x-100 aspect-square 2xl:h-[760px];
    }

    /* ContentStations.js */
    /* companies */

    .companies__box{
        @apply grid py-2 grid-cols-1 xs:grid-cols-2 sm:grid-cols-3 justify-between md:grid-cols-3 lg:grid-cols-4 xl:gap-12 justify-items-center gap-8;
    }

    .company{
        @apply flex flex-col relative size-48 lg:size-52 xl:size-64 2xl:size-80; 
    }

    .company__desc{
        @apply bg-clr-primary-300 rounded-xl absolute bottom-0 w-full p-4;
    }

    .company__img{
        @apply rounded-xl object-cover aspect-square;
    }


    /* footer */
    .footer-header{
        @apply border-b-2 md:border-b-0 border-clr-primary-300 py-2 tracking-wider md:m-0 md:border-r-2 sm:px-4;
    }

    .footer-navigation{
        @apply border-clr-primary-300 rounded-2xl border-2 p-4 text-text-clr-primary-100 tracking-wider sm:p-6 md:flex md:flex-wrap md:flex-row md:justify-center gap-4 mt-8;
    }

    .shop-data{
        @apply flex max-[400px]:flex-col flex-row gap-4 justify-between my-2 md:flex-col md:grow;
    }

    .footer-nav{
        @apply border-b-2 md:border-b-0 border-clr-primary-300 flex flex-col md:border-r-2 md:px-4 md:grow;
    }

    .newsletter-section{
        @apply mb-2 grid gap-4 max-sm:grid-cols-1 sm:grid-cols-2 md:grid-cols-3;
    }

    .newsletter{
        @apply  bg-clr-primary-100 rounded-2xl p-4 flex flex-col mb-6 md:col-span-2 sm:h-full lg:h-96 sm:p-8;
    }

    .form-input{
        @apply rounded-md bg-clr-primary-300 tracking-wide p-2 text-white w-full placeholder:text-text-clr-secondary-300 placeholder:opacity-75 font-medium md:w-64 lg:w-2/3;
    }

    .btn-submit{
        @apply bg-clr-primary-400 rounded-md p-2 text-white font-bold text-center w-full border-2 border-clr-primary-400;
    }

    .btn-primary{
        @apply rounded-xl text-lg px-4 bg-clr-primary-400 border-2 border-clr-primary-400 text-black p-2 transition ease-linear font-semibold ;
    }

    .btn-submit:hover,
    .btn-primary:hover{
        @apply bg-clr-primary-200 border-clr-primary-300 border-2 text-white transition-colors;
    }

    .btn-primary > svg:hover{
        @apply text-white;
    }
}