.primary_bg {
  background-color: #003c3c !important;
}

.customHeader {
  color: rgba(0, 68, 68, 0.9);
  font-weight: bold;
}

.customLink {
  color: none;
  text-decoration: none;
  transition: 0.3s all;
}

.customLink:hover {
  background-color: rgb(19 92 60 / 25%) !important;
}

.searchResult {
  color: rgba(0, 68, 68, 0.9);
  grid-gap: 5px;
}

.userLogo {
  width: 100%;
  height: 130px;
  object-fit: cover;
}

.userListImg {
  width: 90%;
  height: 150px;
  object-fit: cover;
}

.customInput {
  width: 20vw;
  height: 2.5em;
  border-radius: 5px;
  border: none;
  background-color: rgb(207, 231, 233);
  color: rgb(32, 32, 32);
  padding: 1em;
  transition: 0.5s all;
}

.customInput::placeholder {
  color: rgb(92, 92, 92);
}

.customInput:focus,
.customInput:hover {
  background-color: rgba(136, 179, 179, 0.902);
  color: rgb(255, 255, 255);
}

.customInput:focus::placeholder {
  color: rgb(255, 255, 255);
}

.searchBarButton {
  width: 7em;
  height: 2.5em;
  background-color: rgb(135, 172, 175);
  border: none;
  padding: 0.2em;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  transition: 0.5s all;
}

.searchBarButton:hover {
  background-color: #003c3ce6;
}

.otherUserProductsImg {
  object-fit: cover;
  width: 200px;
  height: 150px;
  max-width: 100%;
}
